.currency-convertor-app {
  .mat-h2 {
    margin: 0;
    color: green;
  }
  .counting-row > mat-icon {
    margin-right: 8px;
    margin-left: 8px;
  }
  table {
    width: 400px;
    text-align: center;
    .mat-header-cell {
      text-align: center;
    }
  }
  img {
    margin-top: 9px;
  }
  .table-container {
    min-height: 128px;
    height: 50vh;
    overflow: auto;
    margin-bottom: 5vh;
  }
}
